<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Johann Baerenklau</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="copyright" content="">
        <meta name="email" content="">
        <meta name="robots" content="index,follow">
        <meta name="audience" content="all">
        <meta name="allow-search" content="YES">
        <meta name="revisit-after" content="7 day">
        <meta name="language" content="de,at,ch">
        <meta name="Identifier-URL" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Language" content="de">

		<link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
		<link rel="stylesheet" href="assets/css/flaticon.css">
        <link href="style.css" rel="stylesheet" type="text/css" />
		<link href="root.css" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		
		
</head>

<body>



<!--=====         [ NAVIGATION ]         =====---->

	<header>
		<div class="container-header">
			<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="row-fluid">
						<a class="brand color6 font1" href="index.html"  >JB</a>
						<div class="navbar-inner span12 pull-right">
							<ul class="meta pull-right">
								<li class=""><a href="" class="font6 color6 menu-toggle"><span class="font1 size3 navifont padding1">Navigation</span><i class="fa fa-bars"></i></a></li>
							</ul>
						</div>
						<div class="container clear-fix">
							<div class="pull-right">
								<div id="sidebar-wrapper" class="menu1">
									<a id="menu-close" href="#" class="btn-close toggle"><i class="fa fa-times"></i></a>
									<div class="pull-left logonavi" href="index.html">
										<span class="brand color6 font1">Johann</span>
										<span id="baerenklau" class="brand color6 font1">Bärenklau</span>
									</div>
									<ul class="nav font1">
										<li class="size2"><a href="index.html">Home</a></li>
										<li class="size2"><a href="gallerie.html">Gallerie</a></li>
										<li class="size2"><a href="biografie.html">Biografie</a></li>
										<li class="size2"><a href="zeitungsartikel.html">Zeitungsartikel</a></li>
										
										<hr>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</nav>
		</div>
	</header>



<!--=====         [ BANNER CAROUSEL ]         =====---->
	<div class="" style="background-image: url(assets/img/content/JBBanner09.jpg)">
		<div class="acht bg-color1 container">
			<section id="myCarousel" class="carousel slide carousel-fade swipe">
				<div class="carousel-inner bg-color5" id="swipe">
					<div class="item active style3 banner-hoehe" style="background-image: url(assets/img/content/JBBanner01.jpg)">
						<div class="container">
							<div class="carousel-caption text-center">
								<!--<div class="text">
									<h1 class="font1 color6">Besser werden</h1>
									<p class="font2 color4">Aber wie ohne lehrer?</p>
								</div>-->
							</div>
						</div>
					</div>
					<div class="item style3 banner-hoehe" style="background-image: url(assets/img/content/JBBanner03.jpg)">
						<div class="container">
							<div class="carousel-caption text-center">
							<!--<div class="text">
									<h1 class="font2 color1"><!--<span class="font2 font-style1 font-style2">Arbeitserleichterung E-Procurement</span>-->
										<!--Meine Arbeiten<br>scharf genug?</h1>
										<p class="font2 color4">Wir bieten den Unternehmern mittelständischer Firmen die richtigen Marketing-Tools, um das Marketing im eigenen Haus zu professionalisieren und effektiv und wirkungsvoll zu gestalten.</p>
									</div>-->
							</div>
						</div>
					</div>
					<!--<div class="item style3" style="background-image: url(assets/img/content/banner03.jpg)">
						<div class="container">
							<div class="carousel-caption text-center">
								<!--<div class="text">
									<h1 class="font2 color1"><!--<span class="font2 font-style1 font-style2">Arbeitserleichterung E-Procurement</span>-->
									<!--Endlich ein richtiger Shop<br>mit Payssafecard und jetzt noch mit PayPal</h1>
									<p class="font2 color4">In meinem Shop gibt es Intros, Outros, Banner, Profilbilder und jetzt auch Webseiten !</p>
								</div>-->
						<!--</div>
						</div>
					</div>-->
				</div>
					<!--<a href="#stop" class="round-icon page-scroll text-center"><div class="glyph-icon flaticon-cursor21"></div></a>-->
					<!-- Indicators -->
			</section>
		
			<div class="container">
				<h2>Gallerie</h2>
			</div>
		
		<div  id="ziel01" class="row padding-bottom margin04">
			<div class="container margin padding15">
				<div class="row-fluid hover01 padding14 margin-bottom">
						
			<!--======[		Topic style 1	[„Blue, blue, `lectric blue.“]======-->
				
					<div class="span6 bg-color12 margin-bottom01 border-top ">	
						<div>
						
							<h3 class="line-height02 underline font-size">„Blue, blue, `lectric blue.“</h3>
							<div class="row margin-left">

									<div class="row-fluid">
										<div class="span6">
											<div class="bg-color4 margin05">
												<img src="assets/img/content/kunst/11.jpg" class="bildklasse02"/>
										
											</div>
										</div>
										<div class="span6 ">
										
											<div class="margin05 margin-top01 margin-left99">
												<div class="border-bottom02">
												
														
														
														<!-- Moöglichkeit mit span
														<div class="row margin-left">
															<div class="row-fluid">
																<div class="span4">
																	<span>
																		gemalt:<br>
																		Material:<br>
																		Maße:
																	</span>
														
																</div>
																	<span>
																		März 2016<br>
																		Acryl und Papier auf Leinwand<br>
																		50x 90 cm
																	</span>
																
																<div class="span8">
																
																</div>
															</div>
														</div>-->
														
														
												<span class="game">gemalt:&nbsp; März 2016 <br>Material:&nbsp; Öl auf Leinwand<br>Maße:&nbsp; 20x 30 cm</span>
												
												
												
												
												<!--
													<table>
														<tr>
															 <td>folendet:</td>
															 <td>März 2016</td>
														</tr>
														<tr>
															 <td>Gemalt mit:</td>
															 <td>Acryl und Papier auf Leinwand</td>
														</tr>
														 <tr>
															<td>Maße:</td>
															<td>50x 90 cm</td>
														</tr>-->
														
														
														
													</table>
												</div>
										
											</div>
										</div>
									</div>

							</div>
						</div>
					</div>
					
					
					
					
					
		<!--======[		Topic style 1		[„L`ARTISTocrat“]======-->
								
					<div class="span6 bg-color11 margin-bottom01">	

					</div>
				</div>
				
				
			</div>
		</div>		
			

	

	
	
	
	
	
	
    <!-- Javascript
            ================================================== -->
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap-transition.js"></script>
        <script src="assets/js/bootstrap-alert.js"></script>
        <script src="assets/js/bootstrap-modal.js"></script>
        <script src="assets/js/bootstrap-dropdown.js"></script>
        <script src="assets/js/bootstrap-scrollspy.js"></script>
        <script src="assets/js/bootstrap-tab.js"></script>
        <script src="assets/js/bootstrap-tooltip.js"></script>
        <script src="assets/js/bootstrap-popover.js"></script>
        <script src="assets/js/bootstrap-button.js"></script>
        <script src="assets/js/bootstrap-collapse.js"></script>
        <script src="assets/js/bootstrap-carousel.js"></script>
		<script src="assets/js/bootstrap-hover-dropdown.js"></script>
		<!--script src="assets/js/bootstrap-touch-carousel.js"></script-->
		<!--<script src="assets/js/bootstrap.min.js"></script>-->
		<script src="assets/js/jquery.touchSwipe.min.js"></script>
		<script src="assets/js/modernizr.js"></script>
		<script src="assets/js/script.js"></script>
        
		
		
		<script>
			$("#menu-close").click(function(e) {
				e.preventDefault();
				$(".menu1").toggleClass("active");
			});
			$(".menu-toggle").click(function(e) {
				e.preventDefault();
				$(".menu1").toggleClass("active");
			});
		</script>
		
		<script type="text/javascript">
			$(function () {
				$('a[href="#search"]').on('click', function(event) {
					event.preventDefault();
					$('#search').addClass('open');
					$('#search > form > input[type="search"]').focus();
				});
				
				$('#search, #search button.close').on('click keyup', function(event) {
					if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
						$(this).removeClass('open');
					}
				});
				
				$('form').submit(function(event) {
					event.preventDefault();
					return false;
				})
			});
		</script>
		
		<script>
			$(document).ready(function() {
			   HeaderVideo.init({
				  container: $('.header-video'),
				  header: $('.header-video--media'),
				  videoTrigger: $("#video-trigger"),
				  autoPlayVideo: false
				});    
			});
		</script>
		
		<script type="text/javascript">
			$('.carousel').carousel({
			interval: 8000
			})
		</script>
		
		<script type="text/javascript">
			$(window).scroll(function() {
				window.console.log($(".navbar").offset().top);
				if ($(".navbar").offset().top > 100) {
					$(".navbar-fixed-top").addClass("top-nav-collapse");
				} else {
					$(".navbar-fixed-top").removeClass("top-nav-collapse");
				}
			});
		</script>
		
		<script type="text/javascript">	
			// --- Parallax-Scrolling ---
			$(document).ready(function(){
			   // cache the window object
			   $window = $(window);
			 
			   $('div[data-type="background"]').each(function(){
				 // declare the variable to affect the defined data-type
				 var $scroll = $(this);
								 
				  $(window).scroll(function() {
					// HTML5 proves useful for helping with creating JS functions!
					// also, negative value because we're scrolling upwards                            
					var yPos = -($window.scrollTop() / $scroll.data('speed'));
					 
					// background position
					var coords = '50% '+ yPos + 'px';
			 
					// move the background
					$scroll.css({ backgroundPosition: coords });   
				  }); // end window scroll
			   });  // end div function
			}); // close out script

			/* Create HTML5 element for IE */
			document.createElement("div");
		</script>
		
		<script>
			(function($) {

			  /**
			   * Copyright 2012, Digital Fusion
			   * Licensed under the MIT license.
			   * http://teamdf.com/jquery-plugins/license/
			   *
			   * @author Sam Sehnert
			   * @desc A small plugin that checks whether elements are within
			   *     the user visible viewport of a web browser.
			   *     only accounts for vertical position, not horizontal.
			   */

			  $.fn.visible = function(partial) {
				
				  var $t            = $(this),
					  $w            = $(window),
					  viewTop       = $w.scrollTop(),
					  viewBottom    = viewTop + $w.height(),
					  _top          = $t.offset().top,
					  _bottom       = _top + $t.height(),
					  compareTop    = partial === true ? _bottom : _top,
					  compareBottom = partial === true ? _top : _bottom;
				
				return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

			  };		
			})(jQuery);	
			
			var win = $(window);
			var allMods = $(".module");

			// Already visible modules
			allMods.each(function(i, el) {
			  var el = $(el);
			  if (el.visible(true)) {
				el.addClass("already-visible"); 
			  } 
			});

			win.scroll(function(event) {
			  
			  allMods.each(function(i, el) {
				var el = $(el);
				if (el.visible(true)) {
				  el.addClass("come-in"); 
				} 
			  });
			  
			});
		</script>
	</body>
</html>
