.font1 {
	font-family: 'Righteous', cursive;
	font-style: normal;
}

.font2 {
	font-family: 'Righteous', cursive;
	font-style: italic;
	
}

.font3 {
	font-family: 'Righteous', cursive;
	font-weight: bold;
	
}

.font4 {
	font-family: 'Righteous', cursive;
	font-weight: bold;
	font-style: italic;
	
}

.font5 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	
}

.font6 {
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	
}

.font7 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	
}

.font8 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-style: italic;
}

.font9 {
	
	
}

.font10 {
	
	
}



	/*NORMAL COLORS*/

	/*White*/	.color1 {
		color: #fff; /*White*/
		
	}

	/*lightgrey*/	.color2 {
		color: #757575; /*lightgrey*/
		
	}

	/*grey*/	.color3 {
		color: #666; /*grey*/
		
	}

	/*darkgrey*/	.color4 {
		color: #303030; /*darkgrey*/
		
	}

	/*black*/	.color5 {
		color: #212121; /*black*/
		
	}

	/*main blue*/	.color6 {
		color: #398EB5; /*main blue*/
		
	}

	/*yellow*/	.color7 {
		color: #FFD700; /*yellow*/
		
	}

	/*green*/	.color8 {
		color: #33a735; /*green*/
		
	}

	/*light blue*/	.color9 {
		color: #6495ED; /*light blue*/
		
	}

	/*dark red*/	.color10 {
		color: #B22222; /* dark red*/
	
	}

	
	
	/*BACKGROUND COLORS*/
	
	/*White*/	.bg-color1 {
		color: #fff; /*white*/
		
	}

	/*lightgrey*/	.bg-color2 {
		color: #757575; /*lightgrey*/
		
	}

	/*grey*/	.bg-color3 {
		color: #666; /*grey*/
		
	}

	/*darkgrey*/	.bg-color4 {
		color: #303030; /*darkgrey*/
		
	}

	/*black*/	.bg-color5 {
		color: #212121; /*black*/
		
	}

	/*main blue*/	.bg-color6 {
		color: #398EB5; /*main blue*/
		
	}

	/*yellow*/	.bg-color7 {
		color: #FFD700; /*yellow*/
		
	}

	/*green*/	.bg-color8 {
		color: #33a735; /*green*/
		
	}

	/*light blue*/	.bg-color9 {
		color: #6495ED; /*light blue*/
		
	}

	/*dark red*/	.bg-color10 {
		color: #B22222; /* dark red*/
		
	}